@import "../../index.scss";

.button {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 5px 20px;
  align-items: center;
  border: 2px solid;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 15.5px;
  cursor: pointer;
  transition-duration: 0.12s;

  .icon {
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
  }

  .label {
    font-family: "Mulish", sans-serif;
  }
}
.button-lg {
  height: 50px;
}
.button-md {
  height: 40px;
}
.full-width {
  width: 100% !important;
}
.button-default {
  border-color: $GreyPrimary;
  color: $GreySecondary;
}
.button-default-outlined {
  background: transparent;
}
.button-default-filled {
  background: $GreyPrimary;
}
.button-default-outlined:hover {
  border-color: #d1d1d1;
  background: rgb(239, 239, 239);
}
.button-default-filled:hover {
  background-color: $WhitePrimary;
  border-color: $WhitePrimary;
}

.button-success {
  border-color: $GreenPrimary;
}

.button-success-outlined {
  background: transparent;
  color: $GreenSecondary;
}
.button-success-filled {
  background: $GreenPrimary;
  color: #fff;
}
.button-success-outlined:hover {
  border-color: $GreenTertiary;
  background-color: $GreenTertiary;
}
.button-success-filled:hover {
  border-color: $GreenSecondary;
  background-color: $GreenSecondary;
}
.button-error {
  border-color: $RedPrimary;
}

.button-error-outlined {
  background: transparent;
  color: $RedSecondary;
}
.button-error-filled {
  background: $RedPrimary;
  color: #fff;
}
.button-error-outlined:hover {
  border-color: $RedTertiary;
  background-color: $RedTertiary;
}
.button-error-filled:hover {
  border-color: $RedSecondary;
  background-color: $RedSecondary;
}
