@import "../../index.scss";

.button {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 5px 20px;
  align-items: center;
  border: 2px solid;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 15.5px;
  cursor: pointer;
  transition-duration: 0.12s;

  .icon {
    height: 20px;
    width: 20px;
  }

  .label {
    font-family: "Mulish", sans-serif;
  }
}
.button-lg {
  height: 50px;
}
.button-md {
  height: 40px;
}
.full-width {
  width: 100% !important;
}
.button-default {
  border-color: $GreyPrimary;
  color: $GreySecondary;
}
.button-default-outlined {
  background: transparent;
}
.button-default-filled {
  background: $GreyPrimary;
}
.button-default-outlined:hover {
  border-color: #d1d1d1;
  background: rgb(239, 239, 239);
}
.button-default-filled:hover {
  background-color: #d0d0d0;
  border-color: #d0d0d0;
}

.button-success {
  border-color: $GreenPrimary;
}

.button-success-outlined {
  background: transparent;
  color: $GreenSecondary;
}
.button-success-filled {
  background: $GreenPrimary;
  color: #fff;
}
.button-success-outlined:hover {
  border-color: #20af3f36;
  background-color: #20af3f36;
}
.button-success-filled:hover {
  background-color: #d0d0d0;
  border-color: #d0d0d0;
}
