@import "../../index.scss";
.checkbox-parent {
  display: flex;
  align-items: center;
  .checkbox-container {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid $GreyPrimary;
    border-radius: 4px;
    cursor: pointer;
    padding: 3px;
    box-sizing: content-box;
    background-color: transparent;
    .check {
      border-radius: 4px;
      color: transparent;
      width: 100%;
      height: 100%;
    }
  }
  .checkbox-checked {
    .check {
      color: #fff;
    }
  }
  .checkbox-default {
    background-color: $GreyPrimary;
  }
  .checkbox-success {
    background-color: $GreenPrimary;
  }
  .checkbox-info {
    background-color: $InfoPrimary;
  }
  .checkbox-error {
    background-color: $RedTertiary;
  }
  .checkbox-warning {
    background-color: $YellowSecondary;
  }
  .checkbox-md {
    width: 17px;
    height: 17px;
  }
  .checkbox-lg {
    width: 24px;
    height: 24px;
  }
  .checkbox-sm {
    width: 13px;
    height: 13px;
  }
  .label {
    margin-left: 5px;
  }
}
