.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  .label {
    margin-bottom: 5px;
    margin-left: 7px;
    font-size: 14px;
  }
  .input {
    font-family: "Mulish", sans-serif;
    width: 100%;
    outline: none;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 15px;
    transition-duration: 0.12s;
  }
  .input-lg {
    height: 50px;
  }
  .input-md {
    height: 39px;
  }
  .input-sm {
    height: 30px;
  }
  .border-true {
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
  }
  .border-false {
    border: none;
  }
}
