@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

$BluePrimary: rgba(0, 77, 153, 0.7);

$WhitePrimary: #d0d0d0;

$GreyPrimary: #dddddd;
$GreySecondary: #3f3f3f;

$GreenPrimary: #13a533;
$GreenSecondary: #0e8628;
$GreenTertiary: #20af3f36;

$RedPrimary: #d44848;
$RedSecondary: #b73b3b;
$RedTertiary: #b40d0d45;

$YellowPrimary: #e7af20;
$YellowSecondary: #d39a0b;
$YellowTertiary: #f4d07482;

$InfoPrimary: #1678ae;
$InfoSecondary: #176590;
$InfoTertiary: rgba(0, 103, 163, 0.249);
body {
  font-family: "Mulish", sans-serif;
}
