@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

$BluePrimary: rgba(0, 77, 153, 0.7);

$GreyPrimary: #dddddd;
$GreySecondary: #3f3f3f;

$GreenPrimary: #13a533;
$GreenSecondary: #0e8628;

$RedPrimary: #d44848;
body {
  font-family: "Mulish", sans-serif;
}
